@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<br />
<address style="font-size: 16px">
    <strong>Điện thoại tư vấn: </strong><abbr title="Phone">0367909248</abbr> (Tuấn) <br />
    <strong>Hoặc gửi qua địa chỉ Email: </strong><a href="mailto:Support@example.com"> tuan.197pm21996@vanlanguni.vn</a><br />
</address>