
@{
    ViewBag.Title = "SubmitCheckout";
}

<h1 style="text-align:center; font-size: 80px; font-weight:bold;">ĐẶT HÀNG THÀNH CÔNG !</h1>
<br /><br /><br />
<h2 style="text-align:center;"><a href="@Url.Action("Index2","SANPHAMs")" style="padding-top: 18px; width: 500px; font-size:18px" class="btn karl-checkout-btn">Trở về trang chủ</a></h2>
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

